<head>
  <title>Home | Ruby on Rails Tutorial Sample App</title>
</head>
<h1>StaticPages#help</h1>
<p>to find help on this tutorial, go to
	<a href= "http://www.railstutorial.org/#help"> the rails tutorial help section  </a>
</p>

